.card {
  width: 400px;
  padding: 30px;
  background-color: #ECEBF5;
  border-radius: 5px;
}

.cardHeader {
  padding-bottom: 26px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.otherSign {
  margin: 10px 0;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.breakLine {
  margin: 25px 0;
  display: flex;
}

.signInLine {
  margin: 10px 0;
  display: flex;
}

.lineContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
}

.or {
  padding: 0 16px;
  font-size: 12px;
  color: #b4b4b4;
}

.policy {
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
}

.cardFooter {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
}

.redirectText {
  color: #b4b4b4;
}