.avatarContainer {
  margin-bottom: 10px;
  text-align: center;
}

.avatar {
  width: 100px;
}

.username {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.phone {
  color: orangered;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
}

.text {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
}

.submit {
  height: 40px;
  margin-bottom: 25px;
  font-weight: 700;
  border-radius: 5px;
  color: #ECEBF5;
  background-color: #100D25;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.submit:hover {
  background-color: hsl(248, 48%, 40%)
}

.back {
  height: 40px;
  font-weight: 700;
  border-radius: 5px;
  color: #100D25;
  border: 3px solid #100D25;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.back:hover {
  background-color: #b2a9ff;
}

@media (max-width: 650px) {
  .text {
    font-size: 14px;
  }
}